{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}
{% block header %} {{ title }} {% endblock header %}

{% block content %}

<div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <figure>
                        <img src="{{ account.avatar }}" class="img-fluid rounded-0" alt="{{ account }}">
                    </figure>
                </div>
                <div class="col-md-9">
                    <div class="card-text">
                        <ul>
                            <li>Никнейм: {{ account.username }}</li>
                            {% if account.get_full_name %} <li>Имя и фамилия: {{ account.get_full_name }}</li> {% endif %}
                            <li>Заходил: {{ account.last_login }}</li>
                            <li>Дата рождения: {{ account.birth_date }}</li>
                            <li>О себе: {{ account.bio }}</li>
                        </ul>
                        <a href="{% url 'account_update' %}" class="btn btn-sm btn-primary">Редактировать профиль</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}